@import url(./__content/page__content.css);


* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

.page {
  min-width: 320px;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 50px;
  position: relative;
}


@media screen and (max-width: 498px) {
  .page{
    padding: 30px;
  }
}

@media screen and (max-width: 360px) {
  .page{
    padding: 10px;
  }
}