.page__content {
  padding: 0 50px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

@media screen and (max-width: 751px) {
  .page__content{
    padding: 30px;
  }
}

@media screen and (max-width: 432px) {
  .page__content{
    padding: 10px;
  }
}
