@import url(./__heading/header__heading.css);

.header {
  position: relative;
  padding: 30px 50px;
  margin: 0 auto;
  text-align: center;
}


@media screen and (max-width: 498px) {
  .header{
    padding: 0 50px 30px;
  }
}

