.template__text {
  color: black;
  font-size: 42px;
  width: 500px;
  line-height: 1;
  margin-right: 30px;
}

.template__text span {
  color: #ffe54c;
}

.template__text p {
  margin-top: 0;
}



@media screen and (max-width: 927px) {
  .template__text{
    font-size: 28px;
    width: 50%;
  }
}

@media screen and (max-width: 751px) {
  .template__text{
    font-size: 28px;
    width: 100%;
    z-index: 2;
  }
}

@media screen and (max-width: 360px) {
  .template__text{
    font-size: 22px;
  }
}