/* white: #fff;
blue: #1e90ff;
green: #39d24a;
yellow: #ffe244;
pink: #ff36a3; */

/* body {

  /* I do like these colours */
  /* background:
    radial-gradient(circle at bottom, #fff -30%, transparent 70%),
    linear-gradient(to right, #134a8e, #00b6f1 50%),
    #fff; */

  background:
    radial-gradient(circle at bottom, #fff, transparent 80%),
    linear-gradient(to top, dodgerblue 0%, transparent 70%),
    linear-gradient(to bottom, transparent, rgba($white, 0.4) 70%),
    #1e90ff;
  animation: bg 30s infinite;
}

@keyframes bg {
  0%, 100% { background-color: #1e90ff; }
  25% { background-color: #39d24a; }
  50% { background-color:  #ffe244; }
  75% { background-color: #ff36a3; }

}

.body {
  background-color: #b4ebbb;
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

.page {
  min-width: 320px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.page__content {
  padding: 0 50px;
  margin: 0 auto;

}

.header {
padding: 50px;
margin: 0 auto;
text-align: center;
}

#hr {
  width: 100px;
  border-color: #ffe54c;
}

.template {
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.card {
/* border-radius: 5px; */
width: 200px;
min-height: 300px;
background: rgb(255, 255, 255, 0.5);
box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
margin: 10px;
padding: 20px;
align-self: center;
}



.card__quote {
  color: black;
  font-weight: 900;
}



.card__button {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.card__button:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.card__button:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .card__button {
    padding: 13px 50px 13px;
  }
}
